[core]
    excludesfile = ~/.gitignore
    editor = nvim
    pager = delta
[include]
    path = ~/.gitconfig_local
[push]
    default = current
[alias]
    a = add
    d = diff
    ds = diff --staged
    f = fetch -p # Fetch and prune previously tracked branches
    fa = fetch -p --all --tags # Fetch and prune previously tracked branches
    co = checkout
    ci = commit
    st = status
    br = branch
    bd = branch -d # Delete merged branch
    bD = branch -D # Force delete a branch
    pu = push --force-with-lease
    hist = log --decorate --oneline --graph --date=short --all
    h = hist
    dump = cat-file -p
    s = submodule
    sf = submodule foreach
[status]
    submoduleSummary = true
[diff]
    submodule = log
    colorMoved = default
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
    side-by-side = true
[merge]
    conflictstyle = diff3
